.span-row-10 {
    display: :block;
    height: 10px;
}

.span-row-20 {
    display: block;
    height: 10px;
}

header {
    max-height: 45px;
}

/*
header.navbar {
    min-height: 40px;
    max-height:45px;
}
.navbar-collapse {
    max-height: 45px;
}
.navbar-nav>li>a {
    padding-bottom: 5px;*/

.section-header, caption { text-align: left; font-weight: bold; border: 1px solid #ddd; padding: 14px 0 14px 10px; border-bottom: 0;

-webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;

-webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;

background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}

.settings-form { margin-left: 0; padding-left: 0; list-style: none; background: #fcfcfc; border: 1px solid #ddd; padding: 20px;

-webkit-border-top-right-radius: 0px;
        border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;

-webkit-border-top-left-radius: 0px;
        border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    
    -webkit-bottom-left-border-radius: 4px;
        border-bottom-left-radius: 4px;
   -moz-border-bottom-left-radius: 4px;
   

       -webkit-bottom-right-border-radius: 4px;
        border-bottom-right-radius: 4px;
   -moz-border-bottom-right-radius: 4px;
   
}

.settings-form button.multiselect { margin-bottom: 2px; }

.tab-wrapper { 
    border-top: 1px solid #ddd; 
    margin-top: 60px; 
}
.tab-wrapper > .nav-tabs { border-bottom: 1px solid #ddd; font-size: 14px; margin-top: -34px; }
.tab-wrapper > .nav-tabs > li { border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; border-left: 1px solid #ddd; border-top: 1px solid #ddd; margin-left: -1px;
background: #f0f0f0;
background: -moz-linear-gradient(top,  #f0f0f0 0%, #ebebeb 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#ebebeb));
background: -webkit-linear-gradient(top,  #f0f0f0 0%,#ebebeb 100%);
background: -o-linear-gradient(top,  #f0f0f0 0%,#ebebeb 100%);
background: -ms-linear-gradient(top,  #f0f0f0 0%,#ebebeb 100%);
background: linear-gradient(to bottom,  #f0f0f0 0%,#ebebeb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ebebeb',GradientType=0 );
}
.tab-wrapper > .nav-tabs > li > a { margin-right: 0; padding: 5px 20px;

 -webkit-border-radius: 0;
    -moz-border-radius: 0;
         border-radius: 0;

}
.tab-wrapper > .nav-tabs > .active > a, .nav-tabs > .hover > a { }

.tab-wrapper > .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus { border: 1px solid #fff !important; border-bottom: 1px solid #f5f5f5; position: relative; top: 1px;
background: #ffffff !important;
background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5));
background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
}
.tab-wrapper > .nav-tabs > li > a:hover,
.tab-wrapper > .nav-tabs > li > a:focus { background: #fff; border: 1px solid #fff; }









.footer {
    text-align: center;
    background-color: #fafafa;
    font-size: 0.7em;
    margin: 0px;
    padding: 5px 0px;
    border-top:1px solid #d7d7d7;
}

.content {
    min-height: 250px;
    margin: 10px 0px;
    padding: 20px 10px;
}


th.th-sn {
    width: 10px;
}


html body div.clear,
html body span.clear
{
     background: none;
     border: 0;
     clear: both;
     display: block;
     float: none;
     font-size: 0;
     margin: 0;
     padding: 0;
     overflow: hidden;
     visibility: hidden;
     width: 0;
     height: 0;
}