<div class="row">
    <div class="col-md-6">
        <div class="section-header">添加商户</div>
        <div class="settings-form">
        <form class="form-horizontal" id="add-custom" name="add-custom" action="../backend/custom-manager" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="put">
            {{ xsrf_form_html() }}
            <div class="form-group">
                <label for="custom_city_code" class="col-md-3 control-label">City</label>
                <div class="col-md-9">
                    <select class="form-control" id="custom_city_code" name="city_code" required>
                        {% for city in citys %}
                        <option value="{{city['code']}}">{{city['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="custom_zone_code" class="col-md-3 control-label">Zone</label>
                <div class="col-md-9">
                    <select class="form-control" id="custom_zone_code" name="zone_code" required>
                        {% for zone in zones %}
                        <option value="{{zone['code']}}">{{zone['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="custom_tag_code" class="col-md-3 control-label">Tag</label>
                <div class="col-md-9 input-group">
                    <select class="form-control" id="custom_tag_code" name="tag_code" required>
                        {% for tag in tags %}
                        <option value="{{tag['code']}}">{{tag['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="custom_code" class="col-md-3 control-label">Custom ID</label>
                <div class="col-sm-9">
                    <!-- <span class="input-group-addon">商户ID</span> -->
                    <input type="text|number " data-min="6" data-max="9" class="form-control" id="add-custom_code" name="custom_code" placeholder="Custom ID (6位数字)">
                </div>
            </div>

            <div class="form-group">
                <label for="custom_name" class="col-md-3 control-label">Custom Name</label>
                <div class="col-sm-9">
                    <!-- <span class="input-group-addon">商户名</span> -->
                    <input type="text" class="form-control" id="custom_name" name="custom_name" placeholder="Custom Name" required>
                </div>
            </div>

            <div class="form-group">
                <label for="custom_img" class="col-md-3 control-label">Custom IMG</label>
                <div class="input-group col-md-9">
                    <input type="text" class="form-control" name="custom_img_url" style="display:none">
                    <input type="file" class="form-control" id="custom_img" name="custom_img">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="save_img" name="btn-upload-img" disabled>Upload!</button>
                    </span>
                </div>
            </div>
            <div class="form-group" style="margin-left:8px;margin-right:45px;margin-top:-11px;display:none" name="toggle-progress">
                <label for="progress-bar" class="col-md-3 control-label sr-only">progress bar</label>
                <div class="inpput-group col-md-9">
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" name="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" >
                        <span class="sr-only">Change you Browser o(︶︿︶)o</span>
                    </div>
                </div>
                </div>
            </div>
            <input type="hidden" name="custom_img_url" value="">

            <div class="row" style="padding-left:150px;padding-top:10px;">
                <button class="btn btn-primary" id="btn-add-custom">Add Custom</button>
                <button type="reset" class="btn btn-default" id="btn-reset-form">Cancel!</button>
            </div>

        </form>
        </div>
    </div>


    <div class="col-md-6">
        <div class="section-header">编辑商户</div>
        <div class="settings-form">
            <form id="get-custom-form">
            <div class="form-group">
                <label for="custom_city_code" class="col-md-3 control-label">商户ID</label>
                <div class="input-group" id="search-custom">
                    <input type="text|number " data-min="6" id="get-custom" data-max="9" class="form-control" placeholder="With Custom ID(6位数字)" name="custom_code">
                    <!-- <span class="input-group-addon">输入商户ID或商户名</span> -->
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="get-custom-info">Go!</button>
                    </span>
                </div>
            </div>
            </form>
        <br>
        <form class="form-horizontal" id="edit-custom">
            <div class="form-group">
                <label for="custom_code" class="col-md-3 control-label">Custom ID</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="custom_code" name="custom_code" placeholder="Custom ID" required>
                    <!-- <input type="text" class="form-control" id="custom_code_hide" name="custom_code" placeholder="hide custom id" style="display:none"> -->
                </div>
            </div>

            <fieldset>
            <div class="form-group">
                <label for="custom_city_code" class="col-md-3 control-label">City</label>
                <div class="col-md-9">
                    <select class="form-control" id="custom_city_code" name="city_code" required>
                        {% for city in citys %}
                        <option value="{{city['code']}}">{{city['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="custom_zone_code" class="col-md-3 control-label">Zone</label>
                <div class="col-md-9">
                    <select class="form-control" id="custom_zone_code" name="zone_code" required>
                        {% for zone in zones %}
                        <option value="{{zone['code']}}">{{zone['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="custom_tag_code" class="col-md-3 control-label">Tag</label>
                <div class="col-md-9 input-group">
                    <select class="form-control" id="custom_tag_code" name="tag_code" required>
                        {% for tag in tags %}
                        <option value="{{tag['code']}}">{{tag['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="custom_name" class="col-md-3 control-label">Custom Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="custom_name" name="custom_name" placeholder="Custom Name" required>
<!--                     <span class="input-group-btn">
                        <button class="btn btn-default" type="button">修改</button>
                    </span> -->
                </div>
            </div>
            </fieldset>

            <div class="form-group">
                <label for="change-custom-img" class="col-md-3 control-label">IMG URL</label>
                <div class="input-group col-md-9">
                    <!-- <span class="input-group-addon" style="background:url(https://cdn1.iconfinder.com/data/icons/WPZOOM_Social_Networking_Icon_Set/16/gmail.png);background-size:32px 32px;background-repeat:no-repeat"></span> -->
                    <input type="text" class="form-control" id="change-custom-img-url" name="custom_img_url">
                    <input type="file" class="form-control" id="change-custom-img" name="custom_img" style="display:none">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="btn-change-img" name="btn-change-img" disabled="disabled">Change!</button>
                        <button class="btn btn-default" type="button" id="btn-upload-img" name="btn-upload-img" style="display:none">Upload!</button>
                    </span>
                </div>
            </div>

            <div class="form-group" style="margin-left:8px;margin-right:45px;margin-top:-11px;display:none" name="toggle-progress">
                <label for="progress-bar" class="col-md-3 control-label sr-only">progress bar</label>
                <div class="inpput-group col-md-9">
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" name="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" >
                        <span class="sr-only">Change you Browser o(︶︿︶)o</span>
                    </div>
                </div>
                </div>
            </div>

            {{ xsrf_form_html() }}
            <input type="hidden" name="_method" value="put">
            <div class="row" style="padding-left:150px;padding-top:10px;">
                <button type="edit" class="btn btn-primary" id="btn-edit-custom" disabled="disabled">Modify!</button>
                <button type="delete" class="btn btn-danger" id="btn-delete-custom" disabled="disabled">Delete!</button>
                <button type="submit" class="btn btn-primary" id="btn-save-change" style="display:none">Save!</button>
                <button type="reset" class="btn btn-default" id="btn-cancel-change" style="display:none">Cancel!</button>
            </div>
        </form>
        </div>
    </div>
</div>


<script type="text/javascript">
//事件 点击保存修改按钮
// $('button#btn-save-change').click(function(e){
//     e.preventDefault();
//     thisForm = $(this).parents('form');
//     $.post(
//         '../backend/custom-manager',
//         thisForm.serialize(),
//         function(data){
//             console.data
//         }
//         )
// })

//修改商户 表单验证 提交
$("form#edit-custom").html5Validate(function(){
    console.log(this);
    $.post(
        '../backend/custom-manager',
        $(this).serialize(),
        function(resp,status){
            if (status === 'success'){
                if (typeof resp != 'object'){
                    resp = JSON.parse(resp);
                }
                if (resp.success === true){
                    alert(resp.message);
                    console.log(resp.message);
                }
                else{
                    alert('修改失败');
                    console.log('修改失败');
                }
            }
            else{
                alert('服务器可能出错了!')
            }
            // console.log('status',status)
            // console.log(data)
        }
    );
})


//事件 点击编辑按钮
$('button#btn-edit-custom').click(function(e){
    e.preventDefault();
    $(this).hide();
    thisForm = $(this).parents('form');
    thisForm.find('button#btn-delete-custom').hide();
    thisForm.find('fieldset').attr('disabled',false);
    thisForm.find('button#btn-change-img').attr('disabled',false);
    thisForm.find('button#btn-save-change').show().attr('disabled',false);
    thisForm.find('button#btn-cancel-change').show().attr('disabled',false);

})

//删除商户
$("#btn-delete-custom").click(function(e){
    e.preventDefault();

    var formdata    = $('#edit-custom').serializeArray();
    var custom_code = "";
    for (i in formdata) {
        if (formdata[i].name === "custom_code"){
            custom_code = formdata[i].value;
        }
    }

    $.ajax({
        url  : '../backend/custom-manager/' + custom_code,
        data : $('#edit-custom').serialize(),
        type : 'delete',
        success:function(resp,status){
            if (status === 'success'){
                showRespMsg(resp);
            }
        }
    })
})

//事件 改变城市列表
$('select[name="city_code"]').change(function(e){
    get_zone_list(this)
})

//事件 选中文件
$("[name='custom_img']").change(function(e){
    $(this).next().children().attr('disabled',false);
})

//事件 点击保存文件
$('button[name="btn-upload-img"]').click(function(e){
    e.preventDefault();
    thisForm = $(this).parents("form");
    console.log(thisForm.find(':file')[0].files)
    // progressBar = thisForm.find('[role="progressbar"]')
    file = thisForm.find('input[name="custom_img"]')[0].files[0]

    if (file != null){
        thisForm.find('[name="toggle-progress"]').show();
        $("#toggle-progress").toggle();
        FileUpload(thisForm);
    }
    else{
        console.warn('狗日的,要先选择文件才可以!')
    }
})

//事件 点击改变商户图片 btn-change-img
$('button[name="btn-change-img"]').click(function(e){
    $(this).hide();                                     //隐藏自身
    thisForm = $(this).parents('form');
    thisForm.find('[name="custom_img_url"]').hide();    //隐藏图片地址输入框
    thisForm.find('[name="custom_img"]').show();        //显示图片选择框
    thisForm.find('[name="btn-upload-img"]').attr('disabled',false).show();    //显示并激活图片上传按钮

})


//获取商户信息 校验表单
$('form#get-custom-form').html5Validate(function(){
    console.log(this)
    custom_code = $("[name='get_custom_code']").val();

    $.getJSON(
        '../backend/get_custom',
        // {
        //     'custom_code':custom_code
        // },
        $(this).serialize(),
        function(data){
            //返回数据不为空，数据话初始化入表单
            if (data != null){
                editForm(data);
                console.log('获取数据成功\n >> data : %O',data);
                $('button#btn-save-change').hide();                             //隐藏保存按钮，即使未显示
                $('button#btn-cancel-change').hide();                           //隐藏取消按钮，即使未显示
                $('input#change-custom-img-url').attr('readonly',true)          //设置图片地址输入框为 **只读**
                $('#btn-change-img').show().attr('disabled',true);             //显示并禁用图片编辑按钮
                $("#btn-edit-custom").show().attr('disabled',false);            //激活编辑按钮
                $('button#btn-delete-custom').show().attr('disabled',false);    //激活删除按钮
            }
            //返回数据为空
            else{
                console.warn('数据返回错误\n>> data : %O',data)
            }
        }
    )
})
//事件 获取商户信息
// $("#get-custom-info").click(function(e){
//     custom_code = $("[name='get_custom_code']").val();

//     $.getJSON(
//         '../backend/get_custom',
//         {
//             'custom_code':custom_code
//         },
//         function(data){
//             //返回数据不为空，数据话初始化入表单
//             if (data != null){
//                 editForm(data);
//                 console.log('获取数据成功\n >> data : %O',data);
//                 $('button#btn-save-change').hide();                             //隐藏保存按钮，即使未显示
//                 $('button#btn-cancel-change').hide();                           //隐藏取消按钮，即使未显示
//                 $('input#change-custom-img-url').attr('readonly',true)          //设置图片地址输入框为 **只读**
//                 $('#btn-change-img').show().attr('disabled',false);             //显示并激活图片编辑按钮
//                 $("#btn-edit-custom").show().attr('disabled',false);            //激活编辑按钮
//                 $('button#btn-delete-custom').show().attr('disabled',false);    //激活删除按钮
//             }
//             //返回数据为空
//             else{
//                 console.warn('数据返回错误\n>> data : %O',data)
//             }
//         }
//         )
// })

//函数 填充商户管理表单
//@param : json object
function editForm(obj){
    form = $('form[id="edit-custom"]');
    var lockFieldset     = form.find('fieldset');                        //fieldset区域
    var custom_code      = form.find('input[name="custom_code"]');       //商户ID
    // var custom_code_show = form.find('input[name="custom_code_show"]');  //商户ID,显示的，不被提交
    var custom_name      = form.find('input[name="custom_name"]');       //商户名
    var city_code        = form.find('select[name="city_code"]');        //城市
    var zone_code        = form.find('select[name="zone_code"]');        //区域
    var tag_code         = form.find('select[name="tag_code"]');         //类型
    var custom_img_url   = form.find('input#change-custom-img-url');     //图片地址输入框
    var custom_img_up    = form.find('button#btn-upload-img');           //图片上传按钮
    var custom_img_input = form.find('input#change-custom-img');         //图片选择框
    var items            = [];

    $.each(obj.zones,function(sn,_obj){
        items.push('<option value="'+ _obj.code + '">' + _obj.name +'</option>');
    })
    zone_code.empty();
    zone_code.append(items.join(''));

    lockFieldset.attr('disabled',true);                               //锁定表单fieldset内的元素
    custom_code.val(obj.custom_code);
    custom_code.attr('readonly',true).val(obj.custom_code);     //设置商户ID，并且只读
    custom_name.val(obj.custom_name);                           //设置商户名
    city_code.val(obj.city_code);                               //设置城市
    zone_code.val(obj.zone_code);                               //设置区域
    tag_code.val(obj.tag_code);                                 //设置类型   
    custom_img_url.val(obj.last_url).attr('readonly',true).show()      //设置图片地址，且只读
    custom_img_input.hide();
    custom_img_up.hide();               //隐藏图片上传按钮
}

//事件 点击放弃修改
$("#btn-cancel-change").click(function(e){
    thisForm = $(this).parents('form');
    thisForm[0].reset()
    $(this).hide();         //隐藏自身
    thisForm.find('button').attr('disabled',true)       //禁用表单内所有按钮
    thisForm.find('button').hide();
    thisForm.find('button#btn-edit-custom').show();     //显示编辑按钮
    thisForm.find('button#btn-delete-custom').show();   //显示删除按钮
    thisForm.find('button#btn-change-img').show()       //显示图片编辑按钮
    thisForm.find('fieldset').attr('disabled',false);                   //解锁fieldset
    thisForm.find('input[name="custom_code"]').attr('readonly',false);  //激活商户ID输入框
    thisForm.find('input').show();                      //显示所有输入框
    thisForm.find('input[name="custom_img"]').hide()    //隐藏图片选择框
    thisForm.find('[name="toggle-progress"]').hide()    //隐藏进度条
    thisForm.find('[name="progressbar"]').css('width','0%');    //进度条重置到0%
})

//添加商户 校验表单
$('form#add-custom').html5Validate(function(){
    // console.log($(this).serialize())

    $.ajax({
        type    : "put",
        url     : "../backend/custom-manager",
        data    : $(this).serialize(),
        success : function(resp,status){
            if (status === 'success'){
                // resp = JSON.parse(resp)
                // if (resp.success === true){
                //     alert(resp.message)
                // }
                showRespMsg(resp)
            }
        }
    })
})
//事件 点击添加商户按钮
// $("#btn-add-custom").click(
//     function(e){
//     e.preventDefault();
//     thisForm = $(this).parents("form");
//     $.ajax({
//         type    : "put",
//         url     : "../backend/custom-manager",
//         data    : thisForm.serialize(),
//         success : function(data,status){
//             console.log(data);
//             console.log(status)
//         }
//     })
// })

//事件 点击放弃提交
$("#btn-reset-form").click(function(e){
    thisForm = $(this).parents('form');
    thisForm.find("#save_img").attr('disabled',true);
    thisForm.find('[name="progressbar"]').css('width','0%');
    thisForm.find('[name="toggle-progress"]').hide();
    console.warn('你放弃了本次提交:');
    //放弃内容
    $.each(thisForm.serializeArray(),function(k,v){console.log(k,v)});

})

//函数 HTML5上传文件
function FileUpload(thisForm) {
    console.log(thisForm);
    var File           = thisForm.find(':file')[0].files[0];
    var progressBar    = thisForm.find('[name="progressbar"]');
    var custom_img_url = thisForm.find('input[name="custom_img_url"]');

    var UpFiles = new FormData();
    var xhr     = new XMLHttpRequest();


    UpFiles.append("fileUpload",file);
    if (xhr.upload){
        //上传进度 (上传中)
        xhr.upload.onprogress = function(evt){
            if(evt.lengthComputable){
                // progressBar.value = (evt.loaded/evt.total)*100;
                // progressBar.textContent = progressBar.value;
                progress = (evt.loaded/evt.total) * 100;
                progressBar.css('width',progress + '%');
            }
        }

        //状态 上传结果(成功/失败)
        xhr.onreadystatechange = function(e){
            if(xhr.readyState ==4){
                if (xhr.status ==200){
                    console.log(xhr.responseText);
                    resp = xhr.responseText;
                    try{
                        if (typeof resp != 'object'){
                            resp = JSON.parse(resp);
                        }
                        if (resp.success === true){
                            //如果返回true 设置input[name="custom_img_url"]的值
                            // console.log(resp.img_url);
                            custom_img_url.val(resp.img_url);
                            alert('文件上传成功！')
                        }
                        else{
                            throw {'message':'保存文件失败!'}
                        }
                    }
                    catch(err){
                        alert(err.message)
                        console.error(err.message)

                    }
                }
                else{
                    alert('上传过程中出错了！')
                    console.log('上传过程中出错了！')
                }
            }
        }

    }

    // xhr.onload = function () {
    //     console.log(xhr.upload)
    //     // fUpFles = new FormData();
    //     console.log(xhr.readyState)
    //     console.log(xhr.responseText);
    // };

    // progressBar = thisForm.find('[role="progressbar"]')
    // xhr.upload.onprogress = function(evt){
    //     if(evt.lengthComputable){
    //         // progressBar.value = (evt.loaded/evt.total)*100;
    //         // progressBar.textContent = progressBar.value;
    //         progress = (evt.loaded/evt.total) * 100;
    //         progressBar.css('width',progress + '%');
    //     }
    // }

    //开始上传文件
    xhr.open("post", "/backend/uploads", true);
    xhr.send(UpFiles);
}

</script>
