{% extends "backend_layout.html" %}


{% block content %}
<div class="tab-wrapper">
<!--         <div class="container"> -->
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#custom-manager" data-toggle="tab" onclick="$('#custom-manager').load('/backend/custom-manager')">商户管理</a>
            </li>
            <li>
                <a href="#promo-manager" data-toggle="tab">区域推广</a>
            </li>
            <li >
                <a href="#backend-statis" data-toggle="tab" onclick="$('#backend-statis').load('/backend/analysis')">统计</a>
            </li>
            <li>
                <a href="#backend-recommend" data-toggle="tab" onclick="$('#backend-recommend').load('/backend/recommend')">推荐阅读</a>
            </li>
        </ul>
<!--         </div> -->
</div>

<div class="span-row-10"></div>

<div class="container">
    <div class="alert-container">

    </div>
</div>

<div class="content">
<div class="tab-content">

<div class="tab-pane active" id="custom-manager">custom-manager</div>

<div class="tab-pane" id="promo-manager">
    <div class="col-md-6">
    <div class="section-header">区域管理</div>
    <div class="settings-form">
        <form class="form-horizontal" id="zone-img" name="zone-img" action="../backend/custom-manager" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="put">
            {{ xsrf_form_html() }}
            <div class="form-group">
                <label for="custom_city_code" class="col-md-3 control-label">City</label>
                <div class="col-md-9">
                    <select class="form-control" id="custom_city_code" name="city_code" required>
                        {% for city in citys %}
                        <option value="{{city['code']}}">{{city['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="custom_zone_code" class="col-md-3 control-label">Zone</label>
                <div class="col-md-9">
                    <select class="form-control" id="custom_zone_code" name="zone_code" required>
                        {% for zone in zones %}
                        <option value="{{zone['code']}}">{{zone['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="custom_tag_code" class="col-md-3 control-label">Tag</label>
                <div class="col-md-9 input-group">
                    <select class="form-control" id="custom_tag_code" name="tag_code" required>
                        {% for tag in tags %}
                        <option value="{{tag['code']}}">{{tag['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="zone-img" class="col-md-3 control-label">Zone IMG</label>
                <div class="input-group col-md-9">
                    <input type="text" class="form-control" name="custom_img_url" style="display:none">
                    <input type="file" class="form-control" id="custom_img" name="custom_img">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="save_img" name="btn-upload-img" disabled>Upload!</button>
                    </span>
                </div>
            </div>
            <div class="form-group" style="margin-left:8px;margin-right:45px;margin-top:-11px;display:none" name="toggle-progress">
                <label for="progress-bar" class="col-md-3 control-label sr-only">progress bar</label>
                <div class="inpput-group col-md-9">
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" name="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" >
                        <span class="sr-only">Change you Browser o(︶︿︶)o</span>
                    </div>
                </div>
                </div>
            </div>
<!--             <input type="hidden" name="custom_img_url" value=""> -->

            <div class="row" style="padding-left:150px;padding-top:10px;">
                <button class="btn btn-primary" id="btn-add-custom">Update IMG</button>
                <!-- <button type="reset" class="btn btn-default" id="btn-reset-form">Cancel!</button> -->
            </div>
        </form>
    </div>
    </div>
    <script type="text/javascript">
        $('form#zone-img').html5Validate(function(){
            // console.log(this);
            // console.log($(this).serialize());
            $.post(
                '../backend/zone-img-update',
                $(this).serializeArray(),
                function(data,status){
                    if (status === 'success'){
                        resp = JSON.parse(data)
                        if (resp.success === true){
                            alert(resp.message)
                            console.log(resp.message)
                        }
                        else{
                            alert('修改失败')
                            console.log('修改失败')
                        }
                    }
                    else{
                        alert('服务器可能出错了!')
                    }
                })
        })
    </script>
</div>

<div class="tab-pane" id="backend-statis">backend-statis</div>
<div class="tab-pane" id="backend-recommend">Recommend news manager</div>
<span class="span-row-20"></span>
</div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
