<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>{{SITE_NAME}}</title>
    <script type="text/javascript"src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!-- // <script type="text/javascript" scr="{{static_url('js/bootstrap-switch.js')}}"></script> -->
    <script type="text/javascript" src="{{static_url('js/backend.js')}}"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/backend.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block head %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#custom-manager').load('/backend/custom-manager')
        })
    </script>
    {% endblock %}
</head>

<body>




<a class="sr-only" href="#content">Skip to main content</a>
<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../backend" class="navbar-brand">{{SITE_NAME}} 管理</a>
        </div>
        <div class="collapse navbar-collapse" role="navigation">
            {% block navbar %}{% endblock %}
            <ul class="nav navbar-nav navbar-right">
                {% set user = handler.current_user %}
                {% if user %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-bottom:10px;">
                        <img src="{{user.avatar}}?s=24">&nbsp;&nbsp;{{user.name}}&nbsp;
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="../backend/logout">Logout</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>

<span style="display:block;height:60px;"></span>

<div class="container">
{% block content %}{% endblock %}
</div>

<span style="display:block;height:20px;"></span>
<div class="footer">
    {% block footer %}
    <span>&Sigma;&nbsp;(Sigma)&nbsp;|&nbsp;Designed&nbsp;&amp;&nbsp;Supported&nbsp;by&nbsp;<span style="color:#428bca;">@</span><a href="https://lneoe.com/about.html" target="_blank">lneoe</a></span>
    {% endblock %}
</div>
</body>