{% extends "backend_layout.html" %}


{% block content %}
<span style="display:block;height:40px"></span>

<div class="row">
    <div class="col-md-4 col-md-offset-4" style="background-color:#f7f7f7;">
    <div class="col-md-10 col-md-offset-1" >
        <form class="form-horizontal" role="form" action="../backend/login" method="POST" style="margin-top:15px">
            {{ xsrf_form_html() }}
            <div class="form-group">
                <label class="sr-only" for="InputUserName">用户名</label>
                <input type="text" class="form-control" id="InputUserName" name="username" placeholder="Input Usename" required>
            </div>
            
            <div class="form-group">
                <label class="sr-only" for="InputPassword">密码</label>
                <input type="password" class="form-control" id="InputPassword" name="password" placeholder=" Input Password" required>
            </div>
            <div class="form-group">
            <button type="submit" class="btn btn-default" style="width:100%">Sign in</button>
            </div>
        </form>
    </div>
    </div>
</div>
<span style="display:block;height:60px;"></span>


<SCRIPT TYPE="text/javascript">

//登录
$('form').html5Validate(function(){

    var next         = $.getUrlParam('next');
    if (!next){
        next = '/backend'
    }
    var redriect_url = window.location.protocol + '//' + window.location.host + next;
    var formdata     = $(this).serializeArray();

    $.each(formdata,function(k,obj){
        if (obj.name == 'password'){
            obj.value = $.md5(obj.value);
        }
    })
    console.log(formdata);

    $.post(
        '../backend/login',
        formdata,
        function(resp){
            try{
                if (typeof resp != 'object'){
                    resp = JSON.parse(resp);
                }
                if (resp.success){
                    // console.log('success');
                    window.location.href = redriect_url;
                }
                else{
                    throw {'message':resp.message};
                }             
            }
            catch(e){
                alert(e.message)
                console.log(e.message);
            }
        }
    )
})

//登陆
// $(":submit").click(function(e){
//     e.preventDefault();

//     var next         = $.getUrlParam('next');
//     var redriect_url = window.location.protocol + '//' + window.location.host + next;

//     $.post(
//         '../backend/login',
//         $('form').serialize(),
//         function(data){
//             try{
//                 resp = JSON.parse(data);

//                 if (resp.success){
//                     // console.log('success');
//                     window.location.href = redriect_url;
//                 }
//                 else{
//                     throw {'message':resp.message};
//                 }             
//             }
//             catch(e){
//                 alert(e.message)
//                 console.log(e.message);
//             }
//         }
//     )
// })
</SCRIPT>
{% endblock %}
