{% extends 'backend.html' %}

{% block myHeader %}
<script type="text/javascript">

// $(document).ready(
//     get_city_list(),
//     get_zone_list('101270101')
//     );

function doChange(event){
    console.log(event)
}
</script>
{% endblock %}


{% block content %}
<div class="content">
<form action="" enctype="multipart/form-data" method="post">
    {{ xsrf_form_html() }}
    <input type="radio" name="tag" value="custom" />商家&nbsp;&nbsp;
    <input type="radio" name="tag" value="promo" checked="checked"/>区域&nbsp;&nbsp;
    <select name="city_code" class="city_code" onchange="get_zone_list(this)">
        {% for city in citys %}
        <option value="{{city['code']}}">{{city['name']}}</option>
        {% endfor %}
    </select>

    <select name="zone_code" class="zone_list">
        {% for zone in zones %}
        <option value="{{zone['code']}}">{{zone['name']}}</option>
        {% endfor %}
    </select>

    <select name="tag_code" class="tag_code">
        {% for tag in tags %}
        <option value="{{tag['code']}}">{{tag['name']}}</option>
        {% endfor %}
    </select>


    <input type="file" name="myfile">
    <input type="submit" value="上传">
</form>
</div>
{% endblock %}