<div class="col-md-8">
<!-- <div class="section-header">
    <span style="display:inline-block">请求&amp;认证次数统计</span>
    <form class="navbar-form" style="display:inline">
        <div class="form-group">
            <input type="text|number" data-min="6" class="form-control" placeholder="Custom ID (6位数字)" required>
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
</div> -->
<div class="section-form">
<table class="table table-striped table-bordered" id="analysis-table">
    <caption>
        <div class="col-md-4">
            <span class="input-group">请求&amp;认证次数统计</span>
        </div>
        <div class="col-md-4 pull-right">
            <div class="input-group">
              <input type="date" class="form-control" id="analysis-by-date">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="analysis_by_date()">Go!</button>
              </span>
            </div>
        </div>
    </caption>
    <thead>
        <tr>
            <th>#</th>
            <th>商户ID</th>
            <th>商户名</th>
            <th>请求次数</th>
            <th>认证次数</th>
            <th>有效</th>
            <th>注册时间</th>
        </tr>
    </thead>
    <tbody id="analysis-table">
    </tbody>
</table>
<ul class="pagination">
  <li><a href="javascript:void(0)">&laquo;</a></li>
  <li class="active"><a href="javascript:void(0)" data-pagenum="1">1</a></li>
  <li><a href="javascript:void(0)" data-pagenum="2">2</a></li>
  <li><a href="javascript:void(0)" data-pagenum="3">3</a></li>
  <li><a href="javascript:void(0)" data-pagenum="4">4</a></li>
  <li><a href="javascript:void(0)" data-pagenum="5">5</a></li>
  <li><a href="javascript:void(0)">&raquo;</a></li>
</ul>
</div>
</div>




<div class="col-md-3">
<!--     <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
    </div> -->
</div>


<script type="text/javascript">

var maxpage  = 1;       //最大页数
var nowpage  = 1;       //当前页码
var pagesize = 10;      //每页显示多少行数据
var date     = "";      //日期 string

$(document).ready(
    function(){
        //设置监听事件
        pagination_listener();

        //页面加载完毕后请求第一页的数据
        get_analysis_data(1,pagesize);
    }

)


//给分页按钮添加监听事件
function pagination_listener(){
    //获取分页的a标签，list
    a_Tags = $('.pagination li a');

    //添加分页按钮的监听事件
    for(var i=1;i < a_Tags.length - 1 ;i++){
        a_Tags[i].addEventListener('click',function(){
            me   = $(this);
            page = me.data('pagenum');
            // me.parent('li').siblings('.active').removeClass('active');
            // me.parent().addClass('active');
            get_analysis_data(page,pagesize);
        })
    };
}


//分页获取数据
function get_analysis_data(page,size){
    if (page < 1 || page > maxpage){
        console.log(':( 超出页面范围了!')
        // alert(':( 超出页面范围了!')
    }
    else{
        $.post(
            '../backend/analysis',
            {
                'page'   : page,
                'size'   : size,
                'q_date' : date,
            },
            function(data){
                if (typeof data === 'object'){
                    nowpage  = page;
                    _maxpage = Math.ceil(data.max_size / pagesize);
                    a_Tags   = $('.pagination li a');

                    if (maxpage != _maxpage){
                        maxpage  = _maxpage ;
                        fill_pagination(maxpage);
                    }

                    fill_analysis_table(data);

                    $(a_Tags[page]).parent().siblings('.active').removeClass('active');
                    $(a_Tags[page]).parent().addClass('active');
                }
                else{
                    console.log('返回数据的格式没对')
                }
            }
        )
    }
}


//显示可用的分页页码
function fill_pagination(maxpage){
    items = [];

    items.push('<li><a href="#" onclick="get_analysis_data(nowpage-1,pagesize)">&laquo;</a></li>');

    for (i = 1;i <= maxpage;i++){
        items.push(
            '<li><a href="javascript:void(0)" data-pagenum="' + i +'">' + i + '</a></li>'
        )
    };

    items.push('<li><a href="#" onclick="get_analysis_data(nowpage+1,pagesize)">&raquo;</a></li>');

    $('.pagination').empty().append(items.join(''));
    pagination_listener();

}

//填充表格
function fill_analysis_table(data){
    // console.log('data')

    var items     = [];
    var sum_auth  = 0;
    var sum_promo = 0;

    $.each(data.analysis,function(sn,obj){
        var rate = 0;
        if (obj.auth_times != 0){
            rate = Math.round((obj.promo_times/obj.auth_times)*10000)/100 + '%'
        }
        else {
            rate = '--'
        }
        
        _str = '<tr>'
                + '<td>' + sn + '</td>'
                + '<td>' + obj.custom_code + '</td>'
                + '<td>' + obj.custom_name + '</td>'
                + '<td>' + obj.auth_times + '</td>'
                + '<td>' + obj.promo_times + '</td>'
                + '<td>' + rate + '</td>'
                + '<td>' + +'</td>'
                + '</tr>'

        sum_auth  += obj.auth_times;
        sum_promo += obj.promo_times;

        items.push(_str);
    })

    items.push(
        '<tr>'
        + '<td>总计</td>'
        + '<td>-</td>'
        + '<td>-</td>'
        + '<td>' + sum_auth + '</td>'
        + '<td>' + sum_promo + '</td>'
        + '<td>' + Math.round((sum_promo/sum_auth)*10000)/100 +'%</td>'
        + '<td>' + + '</td>'
        + '</tr>'
        );
    $('#analysis-table tbody').empty().append(items.join(''));
}


function analysis_by_date(){
    //Query Date ,must one of the last 7 days
    qDate  = $('#analysis-by-date').val();

    if (judge_date(qDate)) {
        date = qDate;
        get_analysis_data(1,pagesize)
    }
    else {
        alert("Only last 7 day")
    }
}

function judge_date(qDate) {
    if (!qDate || !qDate.length) {
        console.log("Input The Date Column!");
        return false
    }
    else {
        r_date = new Date();
        qDate   = new Date(Date.parse(qDate));
        l_date = new Date();
        l_date.setDate(l_date.getDate()-7)

        if (l_date < qDate && qDate < r_date) {
            return true
        }
        return false
    }
}

</script>