<style type="text/css">
.has-switch{display:inline-block;cursor:pointer;border-radius:4px;border:1px solid;border-color:#ccc;position:relative;text-align:left;overflow:hidden;line-height:8px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;vertical-align:middle;min-width:100px}.has-switch.switch-mini{min-width:72px}.has-switch.switch-mini i.switch-mini-icons{height:1.2em;line-height:9px;vertical-align:text-top;text-align:center;transform:scale(0.6);margin-top:-1px;margin-bottom:-1px}.has-switch.switch-small{min-width:80px}.has-switch.switch-large{min-width:120px}.has-switch.deactivate{opacity:50;filter:alpha(opacity=5000);cursor:default!important}.has-switch.deactivate label,.has-switch.deactivate span{cursor:default!important}.has-switch>div{display:inline-block;width:150%;position:relative;top:0}.has-switch>div.switch-animate{-webkit-transition:left .5s;transition:left .5s}.has-switch>div.switch-off{left:-50%}.has-switch>div.switch-on{left:0}.has-switch input[type=radio],.has-switch input[type=checkbox]{display:none}.has-switch span,.has-switch label{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;cursor:pointer;position:relative;display:inline-block;height:100%;padding-bottom:4px;padding-top:4px;font-size:14px;line-height:20px}.has-switch span.switch-mini,.has-switch label.switch-mini{padding-bottom:4px;padding-top:4px;font-size:10px;line-height:9px}.has-switch span.switch-small,.has-switch label.switch-small{padding-bottom:3px;padding-top:3px;font-size:12px;line-height:18px}.has-switch span.switch-large,.has-switch label.switch-large{padding-bottom:9px;padding-top:9px;font-size:16px;line-height:normal}.has-switch label{text-align:center;margin-top:-1px;margin-bottom:-1px;z-index:100;width:34%;background:#fff}.has-switch label i{color:#000;text-shadow:0 1px 0 #fff;line-height:18px;pointer-events:none}.has-switch span{text-align:center;z-index:1;width:33%}.has-switch span.switch-left{color:red;border-bottom-left-radius:4px;border-top-left-radius:4px}.has-switch span.switch-right{color:#000;background:#eee}.has-switch span.switch-primary,.has-switch span.switch-left{color:#fff;background:#428bca}.has-switch span.switch-info{color:#fff;background:#5bc0de}.has-switch span.switch-success{color:#fff;background:#5cb85c}.has-switch span.switch-warning{background:#f0ad4e;color:#fff}.has-switch span.switch-danger{color:#fff;background:#d9534f}.has-switch span.switch-default{color:#000;background:#eee}
</style>


<div class="row">
    <div class="col-xs-12 col-md-8">
    <form id="form-addGrid">
    <table class="table table-striped table-bordered" id="recommend-table">
        <caption>Recommends</caption>
        <thead>
            <tr>
                <th style="width:1%">#</th>
                <th style="width:30%">Title</th>
                <th style="width:13%">Source</th>
                <th style="">Link</th>
                <th style="width:10%">Display</th>
            </tr>
        </thead>
        <tbody>
            {% for summary in summarys %}
            <tr id="summary-{{ summary.id }}">
                <td id="summary-{{ summary.id }}-index">{{ loop.index0 }}</td>
                <td id="summary-{{ summary.id }}-title">{{ summary.title }}</td>
                <td id="summary-{{ summary.id }}-source">{{ summary.source }}</td>
                <td id="summary-{{ summary.id }}-link"><a href="{{ summary.link }}">{{ summary.link|short_url}}</a></td>
                <td id="summary-{{ summary.id }}-active">
                    <div class="make-switch switch-small" id="summary-{{ summary.id }}-switch">
                        <input type="checkbox" {% if summary.active %}checked{% else %}{% endif %}>
                    </div>
                    <script type="text/javascript">
                        $('#summary-{{ summary.id }}-switch').on('switch-change',function(e,data){
                            var $el = $(data.el);
                            var value = data.value;
                            changeDisplay({{summary.id}},value)
                        })
                    </script>
                </td>
                <td style="display:none">{{ summary.id }}</td>
            </tr>
            {% endfor %}
            <tr style="display:none" id="addRecommend">
                <td></td>

                <td><input type="text" class="form-control" name="summary_title"></td>
                <td><input type="text" class="form-control" name="summary_source"></td>
                <td><input type="text" class="form-control" name="summary_link"></td>
                <td>
                    <div class="make-switch switch-small" id="summary-active">
                        <input type="checkbox" checked>
                    </div>
                </td>
                
            </tr>
        </tbody>
    </table>
    
    <div class="pull-right" style="display:none" id="save-recommend">
        <button class="btn btn-primary" id="btn-save-recommend">Save</button>
        <button class="btn btn-primary" id="btn-cancel-recommend-edit">Cancel</button>
        <!-- todo: listen click and validate input  -->
    </div>
    </form>
    <button class="btn btn-primary pull-right" id="btn-add-recommend">Add</button>
    </div>

    <div class="col-xs-12 col-md-4" style="background:black">
    </div>
</div>




<script type="text/javascript">

//修改显示设置
function changeDisplay(summaryID,val){
    $.post(
        '../backend/recommend',
        {
            'action':'changeDisplay',
            'summaryID':summaryID,
            'display':val
        },
        function(resp){
            console.log(resp)
        },
        'json'
    )
}


//监听Add按钮
$('#btn-add-recommend').click(function(e){
    e.preventDefault();
    $('#addRecommend').show();
    $(this).hide();
    $('#save-recommend').show();
})


//监听保存按钮
$('#btn-save-recommend').click(function(e){
    e.preventDefault();

    form     = $('#form-addGrid');
    formData = form.serializeArray();
    formData.push({
        name:'summary_active',
        value:$('#summary-active').bootstrapSwitch('status')
    })

    $.ajax({
        url:'../backend/recommend',
        type:'put',
        data:formData,
        // dataType:'json',
        success:function(resp,status){
            if (status === 'success'){
                showRespMsg(resp);
                $('#backend-recommend').load('/backend/recommend');
                // $('#form-addGrid')[0].reset();
            }
        }
    })

})


//监听取消按钮
$('#btn-cancel-recommend-edit').click(function(e){
    e.preventDefault();
    form = $('#form-addGrid');
    form[0].reset();
    $('#addRecommend').hide();
    $('#save-recommend').hide();
    $('#btn-add-recommend').show();
})

// function addGrid(e){
//     $('#addRecommend').show();
//     $(e).hide();
//     $('#save-recommend').show();
// }

// function saveRecommend(){
//     form     = $('#form-addGrid');
//     formData = form.serializeArray();
//     formData.push({
//         name:'summary_active',
//         value:$('#summary-active').bootstrapSwitch('status')
//     })

//     $.ajax({
//         url:'../backend/recommend',
//         type:'put',
//         data:formData,
//         dataType:'json'
//     })
// }


// function editGrid(SN){
//     parent = old = $(SN).parents('tr');
//     childrens    = parent.children('td');
//     child_index  = childrens[0];
//     child_title  = childrens[1];
//     child_source = childrens[2];
//     child_link   = childrens[3];
//     child_active = childrens[4];
//     child_id     = childrens[5];

//     now = '<td>' + $(child_index).text() + '</td><td>'
//         + '<input type="text" class="form-control" value="' + $(child_title).text()  + '"></td><td>'
//         + '<input type="text" class="form-control" value="' + $(child_source).text() + '"></td><td>'
//         + '<input type="text" class="form-control" value="' + $(child_link).text()   + '"></td><td>'
//         + $(child_active).text() 
//             + '<button class="btn btn-default btn-xs" onclick="cancelEditGrid()"><span class="glyphicon glyphicon-remove"></span></button>' 
//             + '</td>'
//         + '<td style="display:none">' + $(child_id).text() + '</td>';

//     parent.html(now);
// }

</script>



<script type="text/javascript">
!function($){"use strict";$.fn.bootstrapSwitch=function(method){var inputSelector='input[type!="hidden"]';var methods={init:function(){return this.each(function(){var $element=$(this),$div,$switchLeft,$switchRight,$label,$form=$element.closest('form'),myClasses="",classes=$element.attr('class'),color,moving,onLabel="ON",offLabel="OFF",icon=false,textLabel=false;$.each(['switch-mini','switch-small','switch-large'],function(i,el){if(classes.indexOf(el)>=0){myClasses=el}});$element.addClass('has-switch');if($element.data('on')!==undefined){color="switch-"+$element.data('on')}if($element.data('on-label')!==undefined){onLabel=$element.data('on-label')}if($element.data('off-label')!==undefined){offLabel=$element.data('off-label')}if($element.data('label-icon')!==undefined){icon=$element.data('label-icon')}if($element.data('text-label')!==undefined){textLabel=$element.data('text-label')}$switchLeft=$('<span>').addClass("switch-left").addClass(myClasses).addClass(color).html(''+onLabel+'');color='';if($element.data('off')!==undefined){color="switch-"+$element.data('off')}$switchRight=$('<span>').addClass("switch-right").addClass(myClasses).addClass(color).html(''+offLabel+'');$label=$('<label>').html("&nbsp;").addClass(myClasses).attr('for',$element.find(inputSelector).attr('id'));if(icon){$label.html('<i class="icon '+icon+'"></i>')}if(textLabel){$label.html(''+textLabel+'')}$div=$element.find(inputSelector).wrap($('<div>')).parent().data('animated',false);if($element.data('animated')!==false){$div.addClass('switch-animate').data('animated',true)}$div.append($switchLeft).append($label).append($switchRight);$element.find('> div').addClass($element.find(inputSelector).is(':checked')?'switch-on':'switch-off');if($element.find(inputSelector).is(':disabled')){$(this).addClass('deactivate')}var changeStatus=function($this){if($element.parent('label').is('.label-change-switch')){}else{$this.siblings('label').trigger('mousedown').trigger('mouseup').trigger('click')}};$element.on('keydown',function(e){if(e.keyCode===32){e.stopImmediatePropagation();e.preventDefault();changeStatus($(e.target).find('span:first'))}});$switchLeft.on('click',function(){changeStatus($(this))});$switchRight.on('click',function(){changeStatus($(this))});$element.find(inputSelector).on('change',function(e,skipOnChange){var $this=$(this),$element=$this.parent(),thisState=$this.is(':checked'),state=$element.is('.switch-off');e.preventDefault();$element.css('left','');if(state===thisState){if(thisState){$element.removeClass('switch-off').addClass('switch-on')}else{$element.removeClass('switch-on').addClass('switch-off')}if($element.data('animated')!==false){$element.addClass("switch-animate")}if(typeof skipOnChange==='boolean'&&skipOnChange){return}$element.parent().trigger('switch-change',{el:$this,value:thisState})}});$element.find('label').on('mousedown touchstart',function(e){var $this=$(this);moving=false;e.preventDefault();e.stopImmediatePropagation();$this.closest('div').removeClass('switch-animate');if($this.closest('.has-switch').is('.deactivate')){$this.unbind('click')}else if($this.closest('.switch-on').parent().is('.radio-no-uncheck')){$this.unbind('click')}else{$this.on('mousemove touchmove',function(e){var $element=$(this).closest('.make-switch'),relativeX=(e.pageX||e.originalEvent.targetTouches[0].pageX)-$element.offset().left,percent=(relativeX/$element.width())*100,left=25,right=75;moving=true;if(percent<left){percent=left}else if(percent>right){percent=right}$element.find('>div').css('left',(percent-right)+"%")});$this.on('click touchend',function(e){var $this=$(this),$myInputBox=$this.siblings('input');e.stopImmediatePropagation();e.preventDefault();$this.unbind('mouseleave');if(moving){$myInputBox.prop('checked',!(parseInt($this.parent().css('left'),10)<-25))}else{$myInputBox.prop("checked",!$myInputBox.is(":checked"))}moving=false;$myInputBox.trigger('change')});$this.on('mouseleave',function(e){var $this=$(this),$myInputBox=$this.siblings('input');e.preventDefault();e.stopImmediatePropagation();$this.unbind('mouseleave mousemove');$this.trigger('mouseup');$myInputBox.prop('checked',!(parseInt($this.parent().css('left'),10)<-25)).trigger('change')});$this.on('mouseup',function(e){e.stopImmediatePropagation();e.preventDefault();$(this).trigger('mouseleave')})}});if($form.data('bootstrapSwitch')!=='injected'){$form.bind('reset',function(){setTimeout(function(){$form.find('.make-switch').each(function(){var $input=$(this).find(inputSelector);$input.prop('checked',$input.is(':checked')).trigger('change')})},1)});$form.data('bootstrapSwitch','injected')}})},toggleActivation:function(){var $this=$(this);$this.toggleClass('deactivate');$this.find(inputSelector).prop('disabled',$this.is('.deactivate'))},isActive:function(){return!$(this).hasClass('deactivate')},setActive:function(active){var $this=$(this);if(active){$this.removeClass('deactivate');$this.find(inputSelector).removeAttr('disabled')}else{$this.addClass('deactivate');$this.find(inputSelector).attr('disabled','disabled')}},toggleState:function(skipOnChange){var $input=$(this).find(':checkbox');$input.prop('checked',!$input.is(':checked')).trigger('change',skipOnChange)},toggleRadioState:function(skipOnChange){var $radioinput=$(this).find(':radio');$radioinput.not(':checked').prop('checked',!$radioinput.is(':checked')).trigger('change',skipOnChange)},toggleRadioStateAllowUncheck:function(uncheck,skipOnChange){var $radioinput=$(this).find(':radio');if(uncheck){$radioinput.not(':checked').trigger('change',skipOnChange)}else{$radioinput.not(':checked').prop('checked',!$radioinput.is(':checked')).trigger('change',skipOnChange)}},setState:function(value,skipOnChange){$(this).find(inputSelector).prop('checked',value).trigger('change',skipOnChange)},setOnLabel:function(value){var $switchLeft=$(this).find(".switch-left");$switchLeft.html(value)},setOffLabel:function(value){var $switchRight=$(this).find(".switch-right");$switchRight.html(value)},setOnClass:function(value){var $switchLeft=$(this).find(".switch-left"),color='';if(value!==undefined){if($(this).attr('data-on')!==undefined){color="switch-"+$(this).attr('data-on')}$switchLeft.removeClass(color);color="switch-"+value;$switchLeft.addClass(color)}},setOffClass:function(value){var $switchRight=$(this).find(".switch-right"),color='';if(value!==undefined){if($(this).attr('data-off')!==undefined){color="switch-"+$(this).attr('data-off')}$switchRight.removeClass(color);color="switch-"+value;$switchRight.addClass(color)}},setAnimated:function(value){var $element=$(this).find(inputSelector).parent();if(value===undefined){value=false}$element.data('animated',value);$element.attr('data-animated',value);$element[$element.data('animated')!==false?'addClass':'removeClass']("switch-animate")},setSizeClass:function(value){var $element=$(this);var $switchLeft=$element.find(".switch-left");var $switchRight=$element.find(".switch-right");var $label=$element.find("label");$.each(['switch-mini','switch-small','switch-large'],function(i,el){if(el!==value){$switchLeft.removeClass(el);$switchRight.removeClass(el);$label.removeClass(el)}else{$switchLeft.addClass(el);$switchRight.addClass(el);$label.addClass(el)}})},status:function(){return $(this).find(inputSelector).is(':checked')},destroy:function(){var $element=$(this),$div=$element.find('div'),$form=$element.closest('form'),$inputbox;$div.find(':not(input)').remove();$inputbox=$div.children();$inputbox.unwrap().unwrap();$inputbox.unbind('change');if($form){$form.unbind('reset');$form.removeData('bootstrapSwitch')}return $inputbox}};if(methods[method]){return methods[method].apply(this,Array.prototype.slice.call(arguments,1))}if(typeof method==='object'||!method){return methods.init.apply(this,arguments)}$.error('Method '+method+' does not exist!')}}(jQuery);(function($){$(function(){$('.make-switch').bootstrapSwitch()})})(jQuery);
</script>