{% extends "layout.html" %}
{% from 'macros.html' import show_img without context %}
{% from 'macros.html' import promo_url without context %}

{% block title %}
{% if custom %}{{custom.custom_name}}&nbsp;|&nbsp;{% endif %}
{% endblock %}

{% block myHeader %}
<script type="text/javascript">

    function promo_url(){
        var scheme = location.protocol;
        var host   = location.host;
        var params = $.param({
            'city_code' : '{{custom.city_code}}',
            'zone_code' : '{{custom.zone_code}}',
            'tag_code'  : '{{custom.tag_code}}',
            'callback'  : $.getUrlParam('callback')
        });
        // url =  scheme + '//' + host + '/promo?' + params;
        url = '/promo?' + params
        return url
    }

    function go_promo(){
        window.location.href = promo_url();
    }

    $(document).ready(
        function(){
            $(".auth_button button")[0].href =  promo_url();
            // $(".auth_button button a")[0].href =  get_auth_url();
        })

</script>
{% endblock %}


{% block content %}
<div class="promo">
    <div class="img_div_center">
        <img src="{{ static_url(custom.last_url) }}">
    </div>

    <span style="display:block;height:1px;"></span>
    <div class="auth_button">
        <button class="btn btn-primary btn-block sigma-btn" onclick="go_promo()">立即认证</button>
    </div>
</div>
{% endblock %}