{% extends "layout.html" %}

{% block content %}
<div class="col-xs-12 col-md-8">
    {% set messages = handler.get_flashed_messages(with_categories=True) %}
    {% for category,message in messages %}
    <div class="sigma-flash">
        {{ message }}
    </div>
    {% endfor %}
    <br>
    <div style="text-align:center;">这里是{{SITE_NAME}}的主页</div>
</div>
{% endblock %}