<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
　　　　<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
　　<![endif]-->
    <title>{% block title %}{% endblock %}{{SITE_NAME}}</title>
    <!-- // <script type="text/javascript"src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ static_url("js/jquery-1.10.2.min.js") }}">\x3C/script>')</script> -->
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/sigma.css')}}">
    <script type="text/javascript" src="{{ static_url('js/jquery-1.10.2.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/sigma.js')}}"></script>
    {% block myHeader %}{% endblock %}
</head>

<body>

<header class="navbar navbar-default sigma-navbar">
    <p class="navbar-text sigma-navbar-text">
        {% if custom and custom.custom_name %}
        <span>{{ custom.custom_name }}</span>
        {% else %}
        <span>欢迎!</span>
        {% endif %}
    </p>
</header>

<div class="container">
    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>