{% extends 'layout.html' %}
{% from 'macros.html' import show_img without context %}

{% block myHeader %}

    {% if not callback %}
    <script type="text/javascript" src="//192.168.0.1:6789/web.js"></script>
    {% else %}
    <script type="text/javascript" src="{{ callback }}"></script>
    {% endif %}
    
{% endblock %}



{% block content %}

{% if promo and promo.last_url %}
    <div class="img_div_center">
        <img src="{{ static_url(promo.last_url) }}">
    </div>
{% else %}
<!-- 这里可以设置缺省地址 -->
<p class="auth_pass">认证通过，现在你可以继续浏览网页</p>
{% endif %}

{% if news %}
<div class="news">
    <h4>推荐阅读:</h4>
    <hr style="margin-top:-5px;margin-bottom:4px;">
    <div class="col-xs-12 col-md-8">
    <ul class="list-unstyled">
    {% for new in news %}
        <li>
            <a href="{{ new.link }}" title="{{ new.source }}" target="blank" onclick="summary_click({{ new.id }})"><h5>{{ new.title }}</h5></a>
        </li>
    {% endfor %}
    </ul>
    </div>
    <div class="col-xl-6 col-md-4">
    <!-- <p>预留的广告位</p> -->
    </div>
</div>
<script>
function summary_click (sid) {
    $.post(
        '../summary/counter',
        {'sid':sid}
        )
}
$('div ul li a h5').ellipsis({row:1});
</script>
{% else %}
<div></div>
{% endif %}

{% endblock %}